@charset "utf-8";
/* CSS Document */

body {

width:100%;
margin:0 auto;	
	
	
}

.Square {

height: 80px;
width: 80px;
font-size:45pt;
text-align:center;	
	
}

#tableCenter {
	
margin:0 auto;
width:250px;
height:280px;
	
}

